---
import Layout from '../../layouts/Layout.astro';
import Form from '../form.jsx';
import Image from 'astro/components/Image.astro';
//import myImage from '/src/assets/img/profile-photo-cut.jpg'
import myImage from '/src/assets/img/hikeedit4.jpg'
import etymoMapImage from '/src/assets/img/etymomapimage.png'
import jPhotosImage from '/src/assets/img/jphotosimage.png'
import retroPiImage from '/src/assets/img/retropiimage.png'
import marioCalculatorImage from '/src/assets/img/mariocalculatorimage.jpg';
import jWaveImage from '/src/assets/img/jwaveimage.avif';
//import uwoImage from '/src/assets/img/westernlogo.svg'
import content from '../../i18n/content.json';
import Icon from '../icons/Icon.astro';
import IconRow from '../icons/IconRow.astro';
import FeatureImage from '../FeatureImage.astro';


const { currentLocale } = Astro
const westernLogo = '/src/assets/img/westernlogo.svg';

---

<Layout title="Josh Muszka — Home 👋">

	<div class="mx-auto flex min-h-screen max-w-4xl flex-col gap-9 px-10 py-8 md:gap-20 md:py-24">

		<main>
			<div class="flex flex-col gap-20">

				<!-- Intro -->
				<article class="md:flex-row-reverse md:justify-end md:gap-12">
					<div class="flex flex-row justify-between sm:grid-cols-3">
							<div class="col-span-2 flex flex-col justify-center gap-6 md:gap-8 my-auto">
								<h1 class="text-5xl font-bold text-start dark:text-white">{content.intro.presentation}</h1> 
								<h2 class="w-auto sm:w-[85%] md:w-[90%] leading-6 dark:text-white">
									<span class="text-blue-600 dark:text-orange-500">{content.intro.job}</span> {content.intro.intro}
								</h2> 
								<div class="flex flex-row gap-4">
									<a aria-label="Link to Josh's Github" href="https://github.com/jmuszka" target="_blank" class="transition hover:scale-110">
										<svg class="w-[48px] h-[48px] text-gray-800 hover:text-black dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
											<path fill-rule="evenodd" d="M12.006 2a9.847 9.847 0 0 0-6.484 2.44 10.32 10.32 0 0 0-3.393 6.17 10.48 10.48 0 0 0 1.317 6.955 10.045 10.045 0 0 0 5.4 4.418c.504.095.683-.223.683-.494 0-.245-.01-1.052-.014-1.908-2.78.62-3.366-1.21-3.366-1.21a2.711 2.711 0 0 0-1.11-1.5c-.907-.637.07-.621.07-.621.317.044.62.163.885.346.266.183.487.426.647.71.135.253.318.476.538.655a2.079 2.079 0 0 0 2.37.196c.045-.52.27-1.006.635-1.37-2.219-.259-4.554-1.138-4.554-5.07a4.022 4.022 0 0 1 1.031-2.75 3.77 3.77 0 0 1 .096-2.713s.839-.275 2.749 1.05a9.26 9.26 0 0 1 5.004 0c1.906-1.325 2.74-1.05 2.74-1.05.37.858.406 1.828.101 2.713a4.017 4.017 0 0 1 1.029 2.75c0 3.939-2.339 4.805-4.564 5.058a2.471 2.471 0 0 1 .679 1.897c0 1.372-.012 2.477-.012 2.814 0 .272.18.592.687.492a10.05 10.05 0 0 0 5.388-4.421 10.473 10.473 0 0 0 1.313-6.948 10.32 10.32 0 0 0-3.39-6.165A9.847 9.847 0 0 0 12.007 2Z" clip-rule="evenodd"/>
										</svg>
										
									</a>
									<a aria-label="Link to Josh's Linkedin" href="https://www.linkedin.com/in/jmuszka" target="_blank" class="transition hover:scale-110">
										<svg class="w-[48px] h-[48px] text-gray-800 dark:text-white hover:text-blue-600 dark:bg-blue-600 dark:hover:text-white dark:rounded-lg" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
											<path fill-rule="evenodd" d="M12.51 8.796v1.697a3.738 3.738 0 0 1 3.288-1.684c3.455 0 4.202 2.16 4.202 4.97V19.5h-3.2v-5.072c0-1.21-.244-2.766-2.128-2.766-1.827 0-2.139 1.317-2.139 2.676V19.5h-3.19V8.796h3.168ZM7.2 6.106a1.61 1.61 0 0 1-.988 1.483 1.595 1.595 0 0 1-1.743-.348A1.607 1.607 0 0 1 5.6 4.5a1.601 1.601 0 0 1 1.6 1.606Z" clip-rule="evenodd"/>
											<path d="M7.2 8.809H4V19.5h3.2V8.809Z"/>
										</svg>
										
									</a>
									<a aria-label="Open Josh's Curriculum" href={content.resume} target="_blank"class="transition hover:scale-110">
										<svg class="w-[48px] h-[48px] text-gray-800 hover:text-blue-600 " height="64px" width="64px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" 
											xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" 
											stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> 
											<polygon class="text-gray-800 hover" style="fill:#FFE6B8;" points="431.28,10.199 80.72,10.199 80.72,501.801 347.283,501.801 431.28,417.803 "></polygon> <g> 
												<polygon style="fill:#FFAD61;" points="431.28,417.803 347.283,501.801 347.209,417.731 "></polygon>
													<path style="fill:#FFAD61;" d="M162.748,92.009c0.339,5.191,3.002,10.019,7.364,12.853c5.384,3.498,12.308,3.498,17.694,0 c4.362-2.834,7.026-7.662,7.364-12.853l1.284-19.698c0.659-10.11-7.364-18.674-17.496-18.674l0,0 c-10.132,0-18.155,8.563-17.496,18.674L162.748,92.009z">
														</path> </g> <path style="fill:#BCC987;" d="M232.279,159.044c-2.391-13.195-12.69-23.259-25.475-25.666c-1.924-0.362-3.903-0.553-5.921-0.553 h-6.712l0,0c-8.401,8.401-22.023,8.401-30.424,0l0,0h-6.712c-2.017,0-3.997,0.191-5.922,0.553 c-12.785,2.407-23.084,12.472-25.475,25.666l-2.229,12.302h111.097L232.279,159.044z"></path> <g> 
															<path style="fill:#4D3D36;" d="M431.279,0H80.721c-5.633,0-10.199,4.566-10.199,10.199v491.602c0,5.633,4.566,10.199,10.199,10.199 h266.562c2.705,0,5.298-1.075,7.212-2.987l83.997-83.998c1.912-1.912,2.987-4.506,2.987-7.212V10.199 C441.479,4.566,436.912,0,431.279,0z M90.92,232.542h0.873c5.633,0,10.199-4.566,10.199-10.199s-4.566-10.199-10.199-10.199H90.92 V20.398h330.161v191.752c-5.565,0.08-10.053,4.609-10.053,10.192s4.489,10.113,10.052,10.192v175.064l-73.862-0.067 c-0.003,0-0.006,0-0.009,0c-2.705,0-5.298,1.075-7.212,2.987c-1.914,1.915-2.989,4.513-2.987,7.221l0.067,73.862H90.92V232.542z M357.419,427.939l49.257,0.045l-49.213,49.212L357.419,427.939z"></path> <path style="fill:#4D3D36;" d="M269.484,86.745h55.833c5.632,0,10.199-4.566,10.199-10.199c0-5.633-4.567-10.199-10.199-10.199 h-55.833c-5.632,0-10.199,4.566-10.199,10.199C259.285,82.179,263.851,86.745,269.484,86.745z"></path> <path style="fill:#4D3D36;" d="M269.484,133.602H390.63c5.632,0,10.199-4.566,10.199-10.199c0-5.633-4.567-10.199-10.199-10.199 H269.484c-5.632,0-10.199,4.566-10.199,10.199C259.285,129.036,263.851,133.602,269.484,133.602z"></path> <path style="fill:#4D3D36;" d="M269.484,180.526H390.63c5.632,0,10.199-4.566,10.199-10.199c0-5.633-4.567-10.199-10.199-10.199 H269.484c-5.632,0-10.199,4.566-10.199,10.199C259.285,175.96,263.851,180.526,269.484,180.526z"></path> <path style="fill:#4D3D36;" d="M129.53,268.291c-5.633,0-10.199,4.566-10.199,10.199s4.566,10.199,10.199,10.199h120.805 c5.633,0,10.199-4.566,10.199-10.199s-4.566-10.199-10.199-10.199H129.53z"></path> <path style="fill:#4D3D36;" d="M391.649,309.543H129.53c-5.633,0-10.199,4.566-10.199,10.199s4.566,10.199,10.199,10.199h262.12 c5.632,0,10.199-4.566,10.199-10.199S397.281,309.543,391.649,309.543z"></path> <path style="fill:#4D3D36;" d="M391.649,350.853H129.53c-5.633,0-10.199,4.566-10.199,10.199c0,5.633,4.566,10.199,10.199,10.199 h262.12c5.632,0,10.199-4.566,10.199-10.199C401.849,355.419,397.281,350.853,391.649,350.853z"></path> <path style="fill:#4D3D36;" d="M239.681,421.227h-8.614c-5.633,0-10.199,4.566-10.199,10.199s4.566,10.199,10.199,10.199h8.614 c5.633,0,10.199-4.566,10.199-10.199S245.314,421.227,239.681,421.227z"></path> <path style="fill:#4D3D36;" d="M195.825,421.227H129.53c-5.633,0-10.199,4.566-10.199,10.199s4.566,10.199,10.199,10.199h66.295 c5.633,0,10.199-4.566,10.199-10.199S201.457,421.227,195.825,421.227z"></path> <path style="fill:#4D3D36;" d="M152.57,92.672c0.553,8.471,5.033,16.225,11.985,20.742c4.374,2.843,9.389,4.263,14.403,4.263 c5.014,0,10.029-1.421,14.403-4.263c6.953-4.517,11.433-12.272,11.985-20.742l1.285-19.698c0.497-7.623-2.213-15.192-7.436-20.766 c-5.223-5.574-12.599-8.771-20.237-8.771c-7.638,0-15.015,3.197-20.237,8.771s-7.933,13.143-7.436,20.766L152.57,92.672z M173.607,66.156c1.401-1.496,3.301-2.319,5.352-2.319c2.05,0,3.95,0.824,5.352,2.319c1.401,1.495,2.1,3.445,1.966,5.491 l-1.285,19.698c-0.136,2.081-1.161,3.935-2.743,4.963c-1.999,1.298-4.581,1.297-6.581,0c-1.582-1.028-2.607-2.883-2.743-4.963l0,0 l-1.285-19.698C171.508,69.602,172.205,67.652,173.607,66.156z"></path> <path style="fill:#4D3D36;" d="M123.41,181.546h111.097c3.023,0,5.89-1.341,7.828-3.662c1.938-2.32,2.747-5.381,2.208-8.356 l-2.229-12.302c-3.089-17.054-16.601-30.666-33.624-33.872c-2.57-0.483-5.196-0.728-7.807-0.728h-6.712 c-2.705,0-5.299,1.075-7.212,2.987c-2.137,2.137-4.978,3.314-8,3.314s-5.864-1.177-8-3.314c-1.912-1.912-4.507-2.987-7.212-2.987 h-6.712c-2.611,0-5.237,0.245-7.809,0.729c-17.021,3.206-30.533,16.816-33.623,33.871l-2.229,12.302 c-0.539,2.975,0.269,6.035,2.208,8.356C117.52,180.205,120.387,181.546,123.41,181.546z M135.675,160.863 c1.593-8.793,8.556-15.81,17.325-17.461c1.329-0.25,2.685-0.377,4.035-0.377h2.948c11.209,8.383,26.744,8.383,37.953,0h2.948 c1.348,0,2.706,0.127,4.034,0.376c8.77,1.651,15.733,8.669,17.326,17.462l0.052,0.285h-86.672L135.675,160.863z"></path> <path style="fill:#4D3D36;" d="M357.875,232.542c5.632,0,10.199-4.566,10.199-10.199s-4.567-10.199-10.199-10.199h-12.67 c-5.632,0-10.199,4.566-10.199,10.199s4.567,10.199,10.199,10.199H357.875z"></path> <path style="fill:#4D3D36;" d="M319.862,232.542c5.632,0,10.199-4.566,10.199-10.199s-4.567-10.199-10.199-10.199h-12.67 c-5.632,0-10.199,4.566-10.199,10.199s4.567,10.199,10.199,10.199H319.862z"></path> <path style="fill:#4D3D36;" d="M140.003,222.343c0-5.633-4.566-10.199-10.199-10.199h-12.67c-5.633,0-10.199,4.566-10.199,10.199 s4.566,10.199,10.199,10.199h12.67C135.437,232.542,140.003,227.976,140.003,222.343z"></path> <path style="fill:#4D3D36;" d="M231.169,212.143c-5.633,0-10.199,4.566-10.199,10.199s4.566,10.199,10.199,10.199h12.67 c5.633,0,10.199-4.566,10.199-10.199s-4.566-10.199-10.199-10.199H231.169z"></path> <path style="fill:#4D3D36;" d="M205.828,232.542c5.633,0,10.199-4.566,10.199-10.199s-4.566-10.199-10.199-10.199h-12.67 c-5.633,0-10.199,4.566-10.199,10.199s4.566,10.199,10.199,10.199H205.828z"></path> <path style="fill:#4D3D36;" d="M383.215,212.143c-5.632,0-10.199,4.566-10.199,10.199s4.567,10.199,10.199,10.199h12.672 c5.632,0,10.199-4.566,10.199-10.199s-4.567-10.199-10.199-10.199H383.215z"></path> <path style="fill:#4D3D36;" d="M269.18,232.542h12.67c5.632,0,10.199-4.566,10.199-10.199s-4.567-10.199-10.199-10.199h-12.67 c-5.632,0-10.199,4.566-10.199,10.199S263.547,232.542,269.18,232.542z"></path> <path style="fill:#4D3D36;" d="M167.817,232.542c5.633,0,10.199-4.566,10.199-10.199s-4.566-10.199-10.199-10.199h-12.67 c-5.633,0-10.199,4.566-10.199,10.199s4.566,10.199,10.199,10.199H167.817z"></path> </g> </g>
										</svg>
									</a>
								</div>
							</div>
							<div class="ml-auto hidden sm:block">
								<Image class="rounded-full" src={myImage} alt="" loading="eager"  format="jpg" />
							</div>
					</div>
			 </article>
			 
			 <!-- About -->
			 <article>
				<div class="flex items-center my-4">
					<div class="flex-grow border-t border-gray-300"></div>
					<span class="px-4 text-3xl text-gray-700 dark:text-white">{content.about}</span>
					<div class="flex-grow border-t border-gray-300"></div>
				</div></br>
				<div>
					<p class="text-base font-normal text-gray-800 dark:text-gray-100">{content.about_items.paragraph1}</p></br>
					<FeatureImage src={content.about_items.image1.src} caption={content.about_items.image1.caption}/></br>
					<p class="text-base font-normal text-gray-800 dark:text-gray-100">{content.about_items.paragraph2}</p></br>
					<FeatureImage src={content.about_items.image2.src} caption={content.about_items.image2.caption}/></br>
					<p class="text-base font-normal text-gray-800 dark:text-gray-100">{content.about_items.paragraph3}</p></br>
					<FeatureImage src={content.about_items.image3.src} caption={content.about_items.image3.caption}/>
				</div>
			</article>


			 <!-- Experience -->
			 <article>
					<div class="flex flex-col">
						<div class="flex items-center my-4">
							<div class="flex-grow border-t border-gray-300"></div>
							<span class="px-4 text-3xl text-gray-700 dark:text-white">{content.experience}</span>
							<div class="flex-grow border-t border-gray-300"></div>
						</div>
						
						<section class="flex flex-col md:flex-row gap-6 justify-center  p-8">							
						</section>
					</div>

					<!-- Slider main container -->
					<div class="swiper" style="padding: 25px; justify-content: center;">
						<!-- Additional required wrapper -->
						<div class="swiper-wrapper">

							<!-- Slides -->
							<div class="swiper-slide">
								<article class="relative transition-all duration-300 hover:-translate-y-3 bg-white
								rounded-md max-w-80 border-2 border-gray-200">
								<p class="text-lg mb-4 text-center text-base">EtymoMap</p>
									<a aria-label="Chess website project" href="https://etymomap.com" target="_blank"class="flex flex-col p-2 h-44">
										<div class="relative h-full w-full ">
											<span class="absolute h-full w-full transition-opacity opacity-0 hover:opacity-100">
												<svg class="absolute top-0 right-0 " width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7 17L17 7M17 7H8M17 7V16" stroke="#ffd966" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
											</span>
											<Image class="rounded-sm overflow-hidden w-full   object-contain" src={etymoMapImage} loading="eager"  alt="">
										</div>
									</a>
									<header class="flex flex-row gap-2 ps-4 h-12 items-center">
										<Icon name="React" width="4vh" margin="0"/>
										<Icon name="nodejs" width="4vh" margin="0"/>
										<Icon name="typescript" width="4vh" margin="0"/>
									</header>
									<footer class="h-28">
										<p class=" text-wrap text-base ps-4 pb-2 pe-2">
											{content.cards.etymomap}
										</p>
									</footer>
									
								</article>
							</div>

							<div class="swiper-slide">
								<article class="relative transition-all duration-300 hover:-translate-y-3 bg-white
								rounded-md max-w-80 border-2 border-gray-200 ">
								<p class="text-lg mb-4 text-center text-base">j-photos</p>
									<a aria-label="Chess website project" href="https://photos.jmuszka.com" target="_blank"class="flex flex-col p-2 h-44">
										<div class="relative h-full w-full ">
											<span class="absolute h-full w-full transition-opacity opacity-0 hover:opacity-100">
												<svg class="absolute top-0 right-0 " width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7 17L17 7M17 7H8M17 7V16" stroke="#ffd966" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
											</span>
											<Image class="rounded-sm overflow-hidden w-full   object-contain" src={jPhotosImage} loading="eager"  alt="">
										</div>
									</a>
									<header class="flex flex-row gap-2 ps-4 h-12 items-center">
										<Icon name="PHP" width="4vh" margin="0"/>
										<Icon name="Javascript" width="4vh" margin="0"/>
										<Icon name="Bootstrap" width="4vh" margin="0"/>
									</header>
									<footer class="h-28">
										<p class=" text-wrap text-base ps-4 pb-2 pe-2">
											{content.cards.etymomap}
										</p>
									</footer>
									
								</article>
							</div>

							<div class="swiper-slide">
								<article class="relative transition-all duration-300 hover:-translate-y-3 bg-white
								rounded-md max-w-80 border-2 border-gray-200 ">
								<p class="text-lg mb-4 text-center text-base">RetroPi</p>
									<a aria-label="Chess website project" href="https://github.com/jmuszka/RetroPi" target="_blank"class="flex flex-col p-2 h-44">
										<div class="relative h-full w-full ">
											<span class="absolute h-full w-full transition-opacity opacity-0 hover:opacity-100">
												<svg class="absolute top-0 right-0 " width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7 17L17 7M17 7H8M17 7V16" stroke="#ffd966" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
											</span>
											<Image class="rounded-sm overflow-hidden w-full   object-contain" src={retroPiImage} loading="eager"  alt="">
										</div>
									</a>
									<header class="flex flex-row gap-2 ps-4 h-12 items-center">
										<Icon name="Electron" width="4vh" margin="0"/>
										<Icon name="Javascript" width="4vh" margin="0"/>
										<Icon name="Nodejs" width="4vh" margin="0"/>
										<Icon name="Python" width="4vh" margin="0"/>
									</header>
									<footer class="h-28">
										<p class=" text-wrap text-base ps-4 pb-2 pe-2">
											{content.cards.etymomap}
										</p>
									</footer>
									
								</article>
							</div>

							<div class="swiper-slide">
								<article class="relative transition-all duration-300 hover:-translate-y-3 bg-white
								rounded-md max-w-80 border-2 border-gray-200 ">
								<p class="text-lg mb-4 text-center text-base">Super Mario Bros. Calculator</p>
									<a aria-label="Chess website project" href="https://github.com/jmuszka/Mario-Calculator" target="_blank"class="flex flex-col p-2 h-44">
										<div class="relative h-full w-full ">
											<span class="absolute h-full w-full transition-opacity opacity-0 hover:opacity-100">
												<svg class="absolute top-0 right-0 " width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7 17L17 7M17 7H8M17 7V16" stroke="#ffd966" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
											</span>
											<Image class="rounded-sm overflow-hidden w-full   object-contain" src={marioCalculatorImage} loading="eager"  alt="">
										</div>
									</a>
									<header class="flex flex-row gap-2 ps-4 h-12 items-center">
										<Icon name="Kotlin" width="4vh" margin="0"/>
										<Icon name="androidstudio" width="4vh" margin="0"/>
									</header>
									<footer class="h-28">
										<p class=" text-wrap text-base ps-4 pb-2 pe-2">
											{content.cards.etymomap}
										</p>
									</footer>
									
								</article>
							</div>

							<div class="swiper-slide">
								<article class="relative transition-all duration-300 hover:-translate-y-3 bg-white
								rounded-md max-w-80 border-2 border-gray-200">
								<p class="text-lg mb-4 text-center text-base">j-wave</p>
									<a aria-label="Chess website project" href="https://github.com/jmuszka-cloud/j-wave" target="_blank"class="flex flex-col p-2 h-44">
										<div class="relative h-full w-full ">
											<span class="absolute h-full w-full transition-opacity opacity-0 hover:opacity-100">
												<svg class="absolute top-0 right-0 " width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7 17L17 7M17 7H8M17 7V16" stroke="#ffd966" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
											</span>
											<Image class="rounded-sm overflow-hidden w-full   object-contain" src={jWaveImage} loading="eager"  alt="">
										</div>
									</a>
									<header class="flex flex-row gap-2 ps-4 h-12 items-center">
										<Icon name="Django" width="4vh" margin="0" link="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/django/django-plain.svg"/>
										<Icon name="Python" width="4vh" margin="0"/>
										<Icon name="Vuejs" width="4vh" margin="0"/>
										<Icon name="MySQL" width="4vh" margin="0"/>
									</header>
									<footer class="h-28">
										<p class=" text-wrap text-base ps-4 pb-2 pe-2">
											{content.cards.etymomap}
										</p>
									</footer>
									
								</article>
							</div>
						

						</div>
						<!-- If we need pagination -->
						<div class="swiper-pagination"></div>
					
						<!-- If we need navigation buttons -->
						<div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>
					
						<!-- If we need scrollbar -->
						<div class="swiper-scrollbar"></div>
					</div>

					<section class="flex flex-col md:flex-row gap-6 justify-center  p-8">							
					</section>
  
					<article>

						<ol class="relative ms-8 border-s border-gray-200 dark:border-gray-700">                  
	
							<li class="mb-10 ms-6">
									<span class="absolute  flex items-center justify-center w-6 h-6 dark:bg-blue-200 rounded-full -start-3 ring-8 dark:ring-blue-300 ring-green-900/50 bg-green-700">
										<svg class="w-4 h-4" width="64px" height="64px" viewBox="0 -8.14 62.451 62.451" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" 
											stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Group_35" data-name="Group 35" transform="translate(-782.964 -1356.609)"> <path id="Path_92" data-name="Path 92" d="M798.022,1369.359v23.226h.034c.353,4.555,7.685,8.2,16.7,8.2s16.347-3.641,16.7-8.2h.033v-23.226Z" fill="#FFFFFF" stroke="#231f20" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"></path> <path id="Path_93" data-name="Path 93" d="M843.415,1373.207l-29.225,14.6-29.227-14.6,29.227-14.6Z" fill="#ffffff" stroke="#231f20" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"></path> <line id="Line_40" data-name="Line 40" y1="19.235" transform="translate(784.964 1374.361)" fill="#ffffff" stroke="#231f20" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"></line> </g> </g></svg>
									</span>
									<h3 class="mb-1 text-xl font-semibold text-gray-900 dark:text-white">{content.jobs.gruv.organization}</h3>
									<time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-300">{content.jobs.gruv.time}</time>
									<p class="text-base font-normal text-gray-800 dark:text-gray-100" style="font-weight: bold;">{content.jobs.gruv.position}</p></br>
									<!-- Gruv Media Logo -->
									<div class="flex flex-row gap-4">
										<a aria-label="Link to Gruv Media's website" href="https://gruvmedia.com/" target="_blank" class="transition hover:scale-110">
											<svg width="290" height="85" xmlns="http://www.w3.org/2000/svg">
												  <!-- Outline Filter -->
												<defs>
													<filter id="outline-filter" color-interpolation-filters="sRGB">
													<feDropShadow dx="0" dy="0" stdDeviation="1" flood-color="black" flood-opacity="1"/>
													</filter>
												</defs>
												<image href={"/src/assets/img/gruvmedia.png"} width="90%" height="90%" filter="url(#outline-filter)"/>
	
											</svg>
										</a>
									</div></br>
	
									<p class="text-base font-normal text-gray-800 dark:text-gray-100">{content.jobs.gruv.bullet1}</p></br>								
									<p class="text-base font-normal text-gray-800 dark:text-gray-100">{content.jobs.gruv.bullet2}</p></br>
									<p class="text-base font-normal text-gray-800 dark:text-gray-100">{content.jobs.gruv.bullet3}</p></br>
									<p class="text-base font-normal text-gray-800 dark:text-gray-100">{content.jobs.gruv.bullet4}</p></br>
							</li>
							<li class="mb-10 ms-6">
								<span class="absolute  flex items-center justify-center w-6 h-6 dark:bg-blue-200 rounded-full -start-3 ring-8 dark:ring-blue-300 ring-green-900/50 bg-green-700">
									<svg class="w-4 h-4" width="64px" height="64px" viewBox="0 -8.14 62.451 62.451" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" 
										stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Group_35" data-name="Group 35" transform="translate(-782.964 -1356.609)"> <path id="Path_92" data-name="Path 92" d="M798.022,1369.359v23.226h.034c.353,4.555,7.685,8.2,16.7,8.2s16.347-3.641,16.7-8.2h.033v-23.226Z" fill="#FFFFFF" stroke="#231f20" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"></path> <path id="Path_93" data-name="Path 93" d="M843.415,1373.207l-29.225,14.6-29.227-14.6,29.227-14.6Z" fill="#ffffff" stroke="#231f20" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"></path> <line id="Line_40" data-name="Line 40" y1="19.235" transform="translate(784.964 1374.361)" fill="#ffffff" stroke="#231f20" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"></line> </g> </g></svg>
								</span>
								<h3 class="mb-1 text-xl font-semibold text-gray-900 dark:text-white">{content.jobs.tdw.organization}</h3>
								<time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-300">{content.jobs.tdw.time}</time>
								<p class="text-base font-normal text-gray-800 dark:text-gray-100" style="font-weight: bold;">{content.jobs.tdw.position}</p></br>
								<!-- 3DW Logo -->
								<div class="flex flex-row gap-4">
									<a aria-label="Link to 3DWestern's LinkedIn" href="https://www.linkedin.com/company/3d-western/people/" target="_blank" class="transition hover:scale-110">
										<svg width="180" height="180" xmlns="http://www.w3.org/2000/svg">
											  <!-- Outline Filter -->
											<defs>
												<filter id="outline-filter" color-interpolation-filters="sRGB">
												<feDropShadow dx="0" dy="0" stdDeviation="1" flood-color="black" flood-opacity="1"/>
												</filter>
											</defs>
											<image href={"/src/assets/img/3dw.png"} width="90%" height="90%" filter="url(#outline-filter)"/>

										</svg>
									</a>
								</div></br>

								<p class="text-base font-normal text-gray-800 dark:text-gray-100">{content.jobs.tdw.bullet1}</p></br>								
								<p class="text-base font-normal text-gray-800 dark:text-gray-100">{content.jobs.tdw.bullet2}</p></br>
						</li>
	
					</ol>
						
					</article>


			 </article>





			<!-- Skills -->

			<article>
				<div class="flex items-center my-4">
					<div class="flex-grow border-t border-gray-300"></div>
					<span class="px-4 text-3xl text-gray-700 dark:text-white">{content.skills}</span>
					<div class="flex-grow border-t border-gray-300"></div>
				</div>
			</article>

			<IconRow title="Languages">
				<Icon name="Python" caption="Python"/>
				<Icon name="Java" caption="Java"/>
				<Icon name="JavaScript" caption="JavaScript"/>
				<Icon name="TypeScript" caption="TypeScript"/>
				<Icon name="C" caption="C"/>
				<Icon name="cplusplus" caption="C++"/>
				<Icon name="PHP" caption="PHP"/>
				<Icon name="R" caption="R"/>
				<Icon name="Kotlin" caption="Kotlin"/>
				<Icon name="csharp" caption="C#"/>
			</IconRow>

			<IconRow title="Frameworks & Libraries">
				<Icon name="Django" link="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/django/django-plain.svg" caption="Django"/>
				<Icon name="React" caption="React"/>
				<Icon name="Vuejs" caption="Vue.js"/>
				<Icon name="Astro" caption="Astro"/>
				<Icon name="Electron" caption="Electron"/>
				<Icon name="Pytorch" caption="Pytorch"/>
				<Icon name="Numpy" caption="Numpy"/>
				<Icon name="Pandas" caption="Pandas"/>
				<Icon name="HTML5" caption="HTML"/>
				<Icon name="CSS3" caption="CSS"/>
				<Icon name="Tailwindcss" caption="Tailwind"/>
			</IconRow>

			<IconRow title="Other">
				<Icon name="MySQL" caption="MySQL"/>
				<Icon name="PostgreSQL" caption="PostgreSQL"/>
				<Icon name="Linux" caption="Linux"/>
				<Icon name="Git" caption="Git"/>
				<Icon name="Apache" caption="Apache"/>
				<Icon name="AWS" link="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/amazonwebservices/amazonwebservices-plain-wordmark.svg" caption="AWS"/>
			</IconRow>


			 <!-- Education -->

				<article>
					<div class="flex items-center my-4">
						<div class="flex-grow border-t border-gray-300"></div>
						<span class="px-4 text-3xl text-gray-700 dark:text-white">{content.education}</span>
						<div class="flex-grow border-t border-gray-300"></div>
					</div>
				</article>


				<article>

					<ol class="relative ms-8 border-s border-gray-200 dark:border-gray-700">                  

						<li class="mb-10 ms-6">
								<span class="absolute  flex items-center justify-center w-6 h-6 dark:bg-blue-200 rounded-full -start-3 ring-8 dark:ring-blue-300 ring-green-900/50 bg-green-700">
									<svg class="w-4 h-4" width="64px" height="64px" viewBox="0 -8.14 62.451 62.451" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" 
										stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Group_35" data-name="Group 35" transform="translate(-782.964 -1356.609)"> <path id="Path_92" data-name="Path 92" d="M798.022,1369.359v23.226h.034c.353,4.555,7.685,8.2,16.7,8.2s16.347-3.641,16.7-8.2h.033v-23.226Z" fill="#FFFFFF" stroke="#231f20" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"></path> <path id="Path_93" data-name="Path 93" d="M843.415,1373.207l-29.225,14.6-29.227-14.6,29.227-14.6Z" fill="#ffffff" stroke="#231f20" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"></path> <line id="Line_40" data-name="Line 40" y1="19.235" transform="translate(784.964 1374.361)" fill="#ffffff" stroke="#231f20" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"></line> </g> </g></svg>
								</span>
								<h3 class="mb-1 text-xl font-semibold text-gray-900 dark:text-white">{content.education_items.student.title}</h3>
								<time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-300">{content.education_items.student.time}</time>
								<p class="text-base font-normal text-gray-800 dark:text-gray-100" style="font-weight: bold;">{content.education_items.student.university}</p></br>
								<!-- Western University logo -->
								<div class="flex flex-row gap-4">
									<a aria-label="Link to Western University's website" href="https://welcome.uwo.ca/" target="_blank" class="transition hover:scale-110">
										<svg width="260.4" height="69.2" xmlns="http://www.w3.org/2000/svg">
											  <!-- Outline Filter -->
											<defs>
												<filter id="outline-filter" color-interpolation-filters="sRGB">
												<feDropShadow dx="0" dy="0" stdDeviation="1" flood-color="black" flood-opacity="1"/>
												</filter>
											</defs>
											<image href={westernLogo} width="90%" height="90%" filter="url(#outline-filter)"/>

										</svg>
									</a>
								</div></br>

								<p class="text-base font-normal text-gray-800 dark:text-gray-100"><b>Area of Study:</b> {content.education_items.student.major}</p></br>
								<p class="text-base font-normal text-gray-800 dark:text-gray-100"><b>Relevant Courses:</b> {content.education_items.student.courses}</p>
						</li>
						<li class="mb-10 ms-6">            
							<span class="absolute flex items-center justify-center w-6 h-6 dark:bg-blue-200 rounded-full -start-3 ring-8 dark:ring-blue-300 ring-green-900/50 bg-green-700">
								<svg class="w-4 h-4" width="64px" height="64px" viewBox="0 -8.14 62.451 62.451" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" 
									stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Group_35" data-name="Group 35" transform="translate(-782.964 -1356.609)"> <path id="Path_92" data-name="Path 92" d="M798.022,1369.359v23.226h.034c.353,4.555,7.685,8.2,16.7,8.2s16.347-3.641,16.7-8.2h.033v-23.226Z" fill="#FFFFFF" stroke="#231f20" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"></path> <path id="Path_93" data-name="Path 93" d="M843.415,1373.207l-29.225,14.6-29.227-14.6,29.227-14.6Z" fill="#ffffff" stroke="#231f20" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"></path> <line id="Line_40" data-name="Line 40" y1="19.235" transform="translate(784.964 1374.361)" fill="#ffffff" stroke="#231f20" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"></line> </g> </g></svg>
							</span>
							<h3 class="flex items-center mb-1 text-xl font-semibold text-gray-900 dark:text-white">{content.education_items.certificate.title} </h3>
							<time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-300 ">{content.education_items.certificate.time}</time>
							<p class="mb-4 text-base font-normal text-gray-800 dark:text-gray-100 "><b>{content.education_items.certificate.provider}</b></p>
							
							<!-- AWS cert logo -->
							<div class="flex flex-row gap-4">
									<a aria-label="Link to Western University's website" href="https://aws.amazon.com/certification/certified-cloud-practitioner/" target="_blank" class="transition hover:scale-110">
										<svg width="100" height="100" xmlns="http://www.w3.org/2000/svg">
											  <!-- Outline Filter -->
											  <defs>
												<filter id="outline-filter" color-interpolation-filters="sRGB">
												<feDropShadow dx="0" dy="0" stdDeviation="1" flood-color="black" flood-opacity="1"/>
												</filter>
											</defs>
											<image href="https://d1.awsstatic.com/training-and-certification/certification-badges/AWS-Certified-Cloud-Practitioner_badge.634f8a21af2e0e956ed8905a72366146ba22b74c.png" width="100%" height="100%" filter="url(#outline-filter)"/>
										</svg>
									</a>
							</div></br>

							<p class="text-base font-normal text-gray-800 dark:text-gray-100">{content.education_items.certificate.description}</p>

							<!--
							<a href="/CertificadoJava.pdf" target="_blank" class="inline-flex items-center px-4 py-2 text-sm font-medium
							 dark:text-blue-900 dark:bg-white border dark:border-gray-200 rounded-lg dark:hover:bg-gray-300 dark:hover:text-blue-700
							  focus:z-10 focus:ring-4 focus:outline-none dark:focus:ring-gray-200  bg-green-900 text-green-100 border-green-600
								 hover:text-white hover:bg-green-700 focus:ring-green-700"><svg class="w-3.5 h-3.5 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
							<path d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z"/>
							<path d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/>
							</svg> {content.education_items.certificate.button}</a> -->
						</li>

				</ol>
					
				</article>

				<!-- Contact -->
				<article>
					<div class="flex items-center my-4">
						<div class="flex-grow border-t border-gray-300"></div>
						<span class="px-4 text-3xl text-gray-700 dark:text-white">{content.contact}</span>
						<div class="flex-grow border-t border-gray-300"></div>
					</div></br>
					<div>
						<p class="text-center text-base font-normal text-gray-800 dark:text-gray-100">{content.placeholder.pretext}</p>
					</div>
				</article>



				<article class="flex justify-center">
					<Form client:load/>
				</article>

			</div>
		</main>
		<footer>
			<div class="flex flex-row gap-3 justify-end items-center">
				<a aria-label="Link to Josh's Github" href="https://github.com/jmuszka" target="_blank" class="transition hover:scale-110">
					<svg class="w-[40px] h-[40px] text-gray-800 hover:text-black dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
						<path fill-rule="evenodd" d="M12.006 2a9.847 9.847 0 0 0-6.484 2.44 10.32 10.32 0 0 0-3.393 6.17 10.48 10.48 0 0 0 1.317 6.955 10.045 10.045 0 0 0 5.4 4.418c.504.095.683-.223.683-.494 0-.245-.01-1.052-.014-1.908-2.78.62-3.366-1.21-3.366-1.21a2.711 2.711 0 0 0-1.11-1.5c-.907-.637.07-.621.07-.621.317.044.62.163.885.346.266.183.487.426.647.71.135.253.318.476.538.655a2.079 2.079 0 0 0 2.37.196c.045-.52.27-1.006.635-1.37-2.219-.259-4.554-1.138-4.554-5.07a4.022 4.022 0 0 1 1.031-2.75 3.77 3.77 0 0 1 .096-2.713s.839-.275 2.749 1.05a9.26 9.26 0 0 1 5.004 0c1.906-1.325 2.74-1.05 2.74-1.05.37.858.406 1.828.101 2.713a4.017 4.017 0 0 1 1.029 2.75c0 3.939-2.339 4.805-4.564 5.058a2.471 2.471 0 0 1 .679 1.897c0 1.372-.012 2.477-.012 2.814 0 .272.18.592.687.492a10.05 10.05 0 0 0 5.388-4.421 10.473 10.473 0 0 0 1.313-6.948 10.32 10.32 0 0 0-3.39-6.165A9.847 9.847 0 0 0 12.007 2Z" clip-rule="evenodd"/>
					</svg>
					
				</a>
				<a aria-label="Link to Josh's Linkedin" href="https://www.linkedin.com/in/jmuszka" target="_blank" class="transition hover:scale-110">
					<svg class="w-[35px] h-[35px] text-gray-800 dark:text-white hover:text-blue-600 dark:bg-blue-600 dark:hover:text-white dark:rounded-lg" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
						<path fill-rule="evenodd" d="M12.51 8.796v1.697a3.738 3.738 0 0 1 3.288-1.684c3.455 0 4.202 2.16 4.202 4.97V19.5h-3.2v-5.072c0-1.21-.244-2.766-2.128-2.766-1.827 0-2.139 1.317-2.139 2.676V19.5h-3.19V8.796h3.168ZM7.2 6.106a1.61 1.61 0 0 1-.988 1.483 1.595 1.595 0 0 1-1.743-.348A1.607 1.607 0 0 1 5.6 4.5a1.601 1.601 0 0 1 1.6 1.606Z" clip-rule="evenodd"/>
						<path d="M7.2 8.809H4V19.5h3.2V8.809Z"/>
					</svg>
				</a>
				<a aria-label="Open Josh's Curriculum" href={content.resume} target="_blank"class="transition hover:scale-110">
					<svg class="w-[48px] h-[48px] text-gray-800 hover:text-blue-600 " height="64px" width="64px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" 
						xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" 
						stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> 
						<polygon class="text-gray-800 hover" style="fill:#FFE6B8;" points="431.28,10.199 80.72,10.199 80.72,501.801 347.283,501.801 431.28,417.803 "></polygon> <g> 
							<polygon style="fill:#FFAD61;" points="431.28,417.803 347.283,501.801 347.209,417.731 "></polygon>
								<path style="fill:#FFAD61;" d="M162.748,92.009c0.339,5.191,3.002,10.019,7.364,12.853c5.384,3.498,12.308,3.498,17.694,0 c4.362-2.834,7.026-7.662,7.364-12.853l1.284-19.698c0.659-10.11-7.364-18.674-17.496-18.674l0,0 c-10.132,0-18.155,8.563-17.496,18.674L162.748,92.009z">
									</path> </g> <path style="fill:#BCC987;" d="M232.279,159.044c-2.391-13.195-12.69-23.259-25.475-25.666c-1.924-0.362-3.903-0.553-5.921-0.553 h-6.712l0,0c-8.401,8.401-22.023,8.401-30.424,0l0,0h-6.712c-2.017,0-3.997,0.191-5.922,0.553 c-12.785,2.407-23.084,12.472-25.475,25.666l-2.229,12.302h111.097L232.279,159.044z"></path> <g> 
										<path style="fill:#4D3D36;" d="M431.279,0H80.721c-5.633,0-10.199,4.566-10.199,10.199v491.602c0,5.633,4.566,10.199,10.199,10.199 h266.562c2.705,0,5.298-1.075,7.212-2.987l83.997-83.998c1.912-1.912,2.987-4.506,2.987-7.212V10.199 C441.479,4.566,436.912,0,431.279,0z M90.92,232.542h0.873c5.633,0,10.199-4.566,10.199-10.199s-4.566-10.199-10.199-10.199H90.92 V20.398h330.161v191.752c-5.565,0.08-10.053,4.609-10.053,10.192s4.489,10.113,10.052,10.192v175.064l-73.862-0.067 c-0.003,0-0.006,0-0.009,0c-2.705,0-5.298,1.075-7.212,2.987c-1.914,1.915-2.989,4.513-2.987,7.221l0.067,73.862H90.92V232.542z M357.419,427.939l49.257,0.045l-49.213,49.212L357.419,427.939z"></path> <path style="fill:#4D3D36;" d="M269.484,86.745h55.833c5.632,0,10.199-4.566,10.199-10.199c0-5.633-4.567-10.199-10.199-10.199 h-55.833c-5.632,0-10.199,4.566-10.199,10.199C259.285,82.179,263.851,86.745,269.484,86.745z"></path> <path style="fill:#4D3D36;" d="M269.484,133.602H390.63c5.632,0,10.199-4.566,10.199-10.199c0-5.633-4.567-10.199-10.199-10.199 H269.484c-5.632,0-10.199,4.566-10.199,10.199C259.285,129.036,263.851,133.602,269.484,133.602z"></path> <path style="fill:#4D3D36;" d="M269.484,180.526H390.63c5.632,0,10.199-4.566,10.199-10.199c0-5.633-4.567-10.199-10.199-10.199 H269.484c-5.632,0-10.199,4.566-10.199,10.199C259.285,175.96,263.851,180.526,269.484,180.526z"></path> <path style="fill:#4D3D36;" d="M129.53,268.291c-5.633,0-10.199,4.566-10.199,10.199s4.566,10.199,10.199,10.199h120.805 c5.633,0,10.199-4.566,10.199-10.199s-4.566-10.199-10.199-10.199H129.53z"></path> <path style="fill:#4D3D36;" d="M391.649,309.543H129.53c-5.633,0-10.199,4.566-10.199,10.199s4.566,10.199,10.199,10.199h262.12 c5.632,0,10.199-4.566,10.199-10.199S397.281,309.543,391.649,309.543z"></path> <path style="fill:#4D3D36;" d="M391.649,350.853H129.53c-5.633,0-10.199,4.566-10.199,10.199c0,5.633,4.566,10.199,10.199,10.199 h262.12c5.632,0,10.199-4.566,10.199-10.199C401.849,355.419,397.281,350.853,391.649,350.853z"></path> <path style="fill:#4D3D36;" d="M239.681,421.227h-8.614c-5.633,0-10.199,4.566-10.199,10.199s4.566,10.199,10.199,10.199h8.614 c5.633,0,10.199-4.566,10.199-10.199S245.314,421.227,239.681,421.227z"></path> <path style="fill:#4D3D36;" d="M195.825,421.227H129.53c-5.633,0-10.199,4.566-10.199,10.199s4.566,10.199,10.199,10.199h66.295 c5.633,0,10.199-4.566,10.199-10.199S201.457,421.227,195.825,421.227z"></path> <path style="fill:#4D3D36;" d="M152.57,92.672c0.553,8.471,5.033,16.225,11.985,20.742c4.374,2.843,9.389,4.263,14.403,4.263 c5.014,0,10.029-1.421,14.403-4.263c6.953-4.517,11.433-12.272,11.985-20.742l1.285-19.698c0.497-7.623-2.213-15.192-7.436-20.766 c-5.223-5.574-12.599-8.771-20.237-8.771c-7.638,0-15.015,3.197-20.237,8.771s-7.933,13.143-7.436,20.766L152.57,92.672z M173.607,66.156c1.401-1.496,3.301-2.319,5.352-2.319c2.05,0,3.95,0.824,5.352,2.319c1.401,1.495,2.1,3.445,1.966,5.491 l-1.285,19.698c-0.136,2.081-1.161,3.935-2.743,4.963c-1.999,1.298-4.581,1.297-6.581,0c-1.582-1.028-2.607-2.883-2.743-4.963l0,0 l-1.285-19.698C171.508,69.602,172.205,67.652,173.607,66.156z"></path> <path style="fill:#4D3D36;" d="M123.41,181.546h111.097c3.023,0,5.89-1.341,7.828-3.662c1.938-2.32,2.747-5.381,2.208-8.356 l-2.229-12.302c-3.089-17.054-16.601-30.666-33.624-33.872c-2.57-0.483-5.196-0.728-7.807-0.728h-6.712 c-2.705,0-5.299,1.075-7.212,2.987c-2.137,2.137-4.978,3.314-8,3.314s-5.864-1.177-8-3.314c-1.912-1.912-4.507-2.987-7.212-2.987 h-6.712c-2.611,0-5.237,0.245-7.809,0.729c-17.021,3.206-30.533,16.816-33.623,33.871l-2.229,12.302 c-0.539,2.975,0.269,6.035,2.208,8.356C117.52,180.205,120.387,181.546,123.41,181.546z M135.675,160.863 c1.593-8.793,8.556-15.81,17.325-17.461c1.329-0.25,2.685-0.377,4.035-0.377h2.948c11.209,8.383,26.744,8.383,37.953,0h2.948 c1.348,0,2.706,0.127,4.034,0.376c8.77,1.651,15.733,8.669,17.326,17.462l0.052,0.285h-86.672L135.675,160.863z"></path> <path style="fill:#4D3D36;" d="M357.875,232.542c5.632,0,10.199-4.566,10.199-10.199s-4.567-10.199-10.199-10.199h-12.67 c-5.632,0-10.199,4.566-10.199,10.199s4.567,10.199,10.199,10.199H357.875z"></path> <path style="fill:#4D3D36;" d="M319.862,232.542c5.632,0,10.199-4.566,10.199-10.199s-4.567-10.199-10.199-10.199h-12.67 c-5.632,0-10.199,4.566-10.199,10.199s4.567,10.199,10.199,10.199H319.862z"></path> <path style="fill:#4D3D36;" d="M140.003,222.343c0-5.633-4.566-10.199-10.199-10.199h-12.67c-5.633,0-10.199,4.566-10.199,10.199 s4.566,10.199,10.199,10.199h12.67C135.437,232.542,140.003,227.976,140.003,222.343z"></path> <path style="fill:#4D3D36;" d="M231.169,212.143c-5.633,0-10.199,4.566-10.199,10.199s4.566,10.199,10.199,10.199h12.67 c5.633,0,10.199-4.566,10.199-10.199s-4.566-10.199-10.199-10.199H231.169z"></path> <path style="fill:#4D3D36;" d="M205.828,232.542c5.633,0,10.199-4.566,10.199-10.199s-4.566-10.199-10.199-10.199h-12.67 c-5.633,0-10.199,4.566-10.199,10.199s4.566,10.199,10.199,10.199H205.828z"></path> <path style="fill:#4D3D36;" d="M383.215,212.143c-5.632,0-10.199,4.566-10.199,10.199s4.567,10.199,10.199,10.199h12.672 c5.632,0,10.199-4.566,10.199-10.199s-4.567-10.199-10.199-10.199H383.215z"></path> <path style="fill:#4D3D36;" d="M269.18,232.542h12.67c5.632,0,10.199-4.566,10.199-10.199s-4.567-10.199-10.199-10.199h-12.67 c-5.632,0-10.199,4.566-10.199,10.199S263.547,232.542,269.18,232.542z"></path> <path style="fill:#4D3D36;" d="M167.817,232.542c5.633,0,10.199-4.566,10.199-10.199s-4.566-10.199-10.199-10.199h-12.67 c-5.633,0-10.199,4.566-10.199,10.199s4.566,10.199,10.199,10.199H167.817z"></path> </g> </g>
					</svg>
				</a>
			</div>
		</footer>
	</div>
</Layout>

<style>
	main {

		color: black;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

</style>
